h1 {
    color: aqua;
    background-color: black;
    font-family: cursive;
}

span {
    color: white;
}

h2{
    text-align: center;
    color: white;
    background-color: rebeccapurple;
    font-style: italic;
    font-family: cursive;
    font-weight: normal;
}

h3 {
    text-align: right;
    text-decoration: underline;
    font-family: cursive;
    color: rebeccapurple;
    background-color: lightskyblue;
    font-weight: normal;
}